.nav-item{
  text-align: right;
}

.nav-link{
  color:#AFAEAE;
  font-weight: bolder;
}

.nav-link:hover{
  color: #2FCCA9 !important;
}

.active{
  color: #2FCCA9 !important;
}

.leftpicture{
  margin-left: 20px;
}

.rightmenu{
  margin-right: 30px;
}